* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #000;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

h1 {
  font-size: 7rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

p {
  font-size: 1.6rem;
}

.box {
  border: 1px solid #ff0000;
  width: 50%;
}

.box-char {
  display: flex;
}
